@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Scada&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center-container {
    @apply w-full max-w-5xl mx-auto sm:px-7;
  }
}

@keyframes TopToBottom {
  0% {
    top: -100%;
    opacity: 0;
  }

  100% {
    top: 50px;
    opacity: 1;
  }
}

@keyframes BottomToTop {
  0% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: -100%;
    opacity: 0;
  }
}
